* {
  font-family: 'Popins', sans-serif;
  background-color: #f5f0ff;
}

body:has(#DarkColor:checked) * {
  background-color: #14092A;
}

body:has(#DarkColor:checked) .colorGreyDark {
  color: #A094B8 !important;
}

/* Santi starts here */
/* COLORS and Support */
.title-color {
  color: #220953
}

.color-gradient {
  background: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gap10 {
  gap: 10px;
}

.gap30 {
  gap: 30px;
}

.gap50 {
  gap: 50px;
}

.w90 {
  width: 90%;
}

.br12 {
  border-radius: 12px;
}

.loraFont {
  font-family: 'Lora', serif;
}

.popinsFont {
  font-family: 'Popins', sans-serif;
}

.hideMenu {
  display: none;
}

.iconToDarkMode {
  display: inline-block;
  background-image: url('../assets/header-moon.svg');
  background-size: cover;
  cursor: pointer;
  width: 21px;
  height: 21px;
}

body:has(#DarkColor:checked) .iconToDarkMode {
  background-image: url('../assets/sun-header.svg');
}

header ul {
  font-size: 16px;
}

header .titleLogo {
  background: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
}

.section1 {
  color: #220953;
}

.titleDifferent {
  background: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
  color: #FFF;
  padding: 10px;
  border-radius: 16px;
  transform: rotate(10deg);
  margin-right: 30px;
  display: inline-block;
}

.titleH1 {
  font-size: 96px;
  color: #220953;
}

body:has(#DarkColor:checked) .titleH1 {
  color: #A094B8;
}

.fontSize56 {
  font-size: 56px;
  color: #220953;
}

.fontSize64 {
  font-size: 64px;
  color: #220953;
}

.fontSize14 {
  font-size: 14px;
  color: #220953;
}

body:has(#DarkColor:checked) .fontSize56, body:has(#DarkColor:checked) .fontSize64, body:has(#DarkColor:checked) .fontSize14 {
  color: #A094B8;
}

.buttonHome {
  background: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
  padding: 10px 35px;
  border-radius: 64px;
  color: #FFF;
}
body:has(#DarkColor:checked) .buttonHome {
  background: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
  padding: 10px 35px;
  border-radius: 64px;
  color: #FFF;
}

body:has(#DarkColor:checked) .buttonHome img {
  background: transparent;
  display: inline-block;
  margin-left: 3px;
}

.buttonHome img {
  background: transparent;
  display: inline-block;
  margin-left: 3px;
}

.imgWomanYoga {
  width: 400px;
  background-image: url('../assets/woman-yoga.png');
  background-size: cover;
  height: 230px;
}

body:has(#DarkColor:checked) .imgWomanYoga {
  background-image: url('../assets/dark-women-yoga.png');
}

.section2 .starImagesBackground {
  position: relative;
  top: 30px;
  left: -30px;
}

.boxOne {
  position: relative;
  top: 130px;
  left: 50px;
  z-index: 1;
  width: 180px;
  border-radius: 12px;
}

.boxTwo {
  position: relative;
  bottom: 110px;
  right: -370px;
  z-index: 1;
  width: 130px;
  border-radius: 12px;
}

.section3 {
  color: #220953;
}
/* Jocelyn starts here */


/* ########## */
/* RESPONSIVE */
/* ########## */

/* 639px */
@media screen and (max-width: 639px) {
  /* Santi starts here */
  .fontSize64 {
    font-size: 32px;
  }

	body:has(#MenuHamburguer:checked) .hideMenu {
		display: block;
	}
  
  .fullScreenMenu {
    position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background:#ededed;
		z-index: 999;
	}

  body:has(#DarkColor:checked) .fullScreenMenu {
    background: #a8a8a8;
  }

  body:has(#DarkColor:checked) .fullScreenMenu ul, body:has(#DarkColor:checked) .fullScreenMenu ul li, body:has(#DarkColor:checked) .fullScreenMenu ul li a {
    background: #a8a8a8;
  }

  body:has(#DarkColor:checked) .fullScreenMenu ul, body:has(#DarkColor:checked) .fullScreenMenu ul li {
    color: #D9D9D9;  
  }

	.fullScreenMenu ul {
		display: flex;
		flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20%;
    margin-left: 10%;
    gap: 30px;
    font-size: 15px;
    color: #220953;
    background: #ededed;
	}

	.fullScreenMenu ul li {
    background: transparent;
	}

	.fullScreenMenu ul li a.selected {
    background: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
  }
  
  .menuClose {
    position: fixed;
    z-index: 1000;
    right: 50px;
    top: 50px;
  }

  body:has(#DarkColor:checked) .menuClose img {
    background-color: #a8a8a8;
  }

  .titleDifferent {
    margin-right: 41px;
  }

  .titleH1 {
    font-size: 44px;
    color: #220953;
  }

  .titleH1 img {
    width: 52px;
  }

  .fontSize56 {
    font-size: 28px;
    color: #220953;
  }

  .fontSize14 {
    font-size: 13px;
    color: #220953;
  }

  .imgWomanYoga {
    width: 230px;
    height: 132px;
  }

  .section2 .starImagesBackground {
    width: 50px;
    top: 25px;
    left: -9px;
  }

  .textNormal {
    font-size: 15x;
  }

  .healthFitImage {
    width: 320px;
  }

  .responsiveT1 {
    font-size: 13px;
  }

  .responsiveT2 {
    font-size: 12px;
  }

  .boxOne {
    position: relative;
    top: 120px;
    left: 8px;
    z-index: 1;
    width: 138px;
    border-radius: 12px;
  }

  .boxOne img {
    width: 36px;
    height: 36px;
  }

  .boxTwo {
    position: relative;
    bottom: 70px;
    right: -202px;
    z-index: 1;
    width: 109px;
    border-radius: 12px;
  }

  .reposiveText {
    font-size: 15px;
  }

  .gap50 {
    gap: 30px;
  }
  /* Jocelyn starts here */
}
